body {
   background-color: #FFFFFF;
   font-family: georgia;
   text-align: center !important;

}
h1 {
    text-aling: center;
    color: #802A2A;
    font-family: lora;
    margin-bottom: 10px;
}
p {
  color: #000000;
}
h5 {
    color: #802A2A;
}
button {
    background-color: #802A2A;
    transition-duration: .4s;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
button:hover {
    background-color: #D4A1AA;
    color: white;
    padding:10;
}
.nav {
    font-family: lato;
    text-align: right !important;
    font-size: 20;
    overflow:hidden !important;
    align-items: baseline !important;
}
.card {
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 15px
  margin-bottom: 10px;
  padding: 5px !important;
  background-color: #DCDCDC;
}
.full_drop {
   float:right !important;
   overflow:hidden;
   align-self: flex-end !important;
   margin-left: auto;
   margin-right: 90px;
   margin-bottom: 50px !important;
}
.but_drop {
  font-size: 16px !important;
  border: none !important;
  outline: none !important;
  color: white !important;
  padding: 10px 10px !important;
  font-family: inherit;
  margin: 20px;
  float:right;
}
.dropdown-content {
    display:none !important;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 1;
    margin: 20px;
}

.dropdown-content li{
    padding: 0px 0px !important;
    float:left !important;
}
.dropdown-content a{
    font-size: 14px !important;
    text-align: center !important;
    float: left !important;
}
.dropdown-content a:hover {
    background-color: #DCDCDC;
}

.full_drop:hover .dropdown-content{
    display: block !important;
    background-color: white;
    margin-right: 50px;
}

#p4p_logo {
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    justify-content: flex-start;
}
#award_link {
    font-size: 25px;
    color: #3A3B3C;
    margin-top: 45px;
    margin-left: 25px;
}
#voting_link {
    font-size: 25px;
    color: #3A3B3C;
    margin-top: 45px;
    margin-left: 25px;
}
#home_link {
    font-size: 25px;
    color: #3A3B3C;
    margin-top: 45px;
    margin-left: 5px;
    float: center !important;
}
#upper {
    font-size: 25px;
    color: #3A3B3C;
    margin-top: 45px;
    margin-left: 25px;
}
#p4p {
    font-size: 25px;
    color: #3A3B3C;
    margin-top: 45px;
    margin-left: 25px;
}
#top_left_card{
  margin-left:65px;
}
#top_right_card{
  margin-right:65px;
}
#mid_left_card1{
  margin-left:65px;
}
#mid_right_card1{
  margin-right:65px;
}
#mid_left_card2{
  margin-left:65px;
  margin-top:10px;
}
#mid_right_card2{
  margin-right:65px;
  margin-top:10px;
}
#bot_left_card{
  margin-left:65px;
}
#bot_right_card{
  margin-right:65px;
}
#bot_left_card1{
  margin-left:65px;
  margin-top: 25px;
  margin-bottom: 15px:
}
#bot_right_card1{
  margin-right: 65px;
  margin-top: 25px;
  margin-bottom: 15px:
}
#back_to_top {
  color: #000000;
  font-size: 10px
  font-family: georgia;
}
